name: Chores
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  flake-lock:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: chainguard-dev/actions/setup-gitsign@main
      - uses: cachix/install-nix-action@v31
      - name: Update flake.lock
        run: |
          nix flake update --commit-lock-file --option commit-lockfile-summary "chore(deps): flake.lock file maintenance"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          title: "chore(deps): flake.lock file maintenance"
          labels: |
            dependencies
            automated
            chore
          reviewers: "0x77dev"
          signoff: true
