name: Chores
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  flake-lock:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - id: update
        uses: DeterminateSystems/update-flake-lock@v27
        with:
          pr-title: "chore(deps): lock file maintenance"
          pr-labels: |
            dependencies
            automated
            chore
          pr-reviewers: "0x77dev"
