name: CI
on:
  workflow_dispatch:
  pull_request:
    types: [ready_for_review]
    paths:
      - 'flake.nix'
      - 'flake.lock'
      - 'nix/**'
      - '.github/workflows/ci.yaml'
    branches:
      - chore/deps/flake-lock
  push:
    branches:
      - main
      - chore/deps/flake-lock
    paths:
      - 'flake.nix'
      - 'flake.lock'
      - 'nix/**'
      - '.github/workflows/ci.yaml'

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v31
      - run: nix flake check --all-systems -L
